.profilePage{
    position: relative;
    width: 50%;
    margin: 5% auto;
    border-radius: 25px;
    background-color: white;
    box-sizing: border-box;
    text-align: center;    
    box-shadow: 2px 2px 40px #b8b2b2;
    padding-bottom: 2%;

}
.coverImage{
    border-radius: 25px 25px 0 0;
    width: 100%; height: 200px; 
}
.image2{
    width: 25%; height: 180px; border-radius: 50%; position: absolute; left: 37%;top: 100px;
}

.profilePage ul {
    list-style-type: none;
 }
.profilePage li {
    display: inline-grid;
    margin: 0 10%;
    font-size: x-large;
    opacity: 0.7;
}

.profilePage li:hover{
    font-size: xx-large;
    cursor: pointer;
}

li span{
    opacity: 0.4;
    font-size: large;

 }

form input[type='submit']{
    width: 40%;
    margin: 10% auto 0;
    display: block;
    padding: 2%;
    border: 0;
    background-color: white;
    box-shadow:1px 0px 5px #b8b2b2;
}
form input[type='submit']:hover{
    font-size: larger;
    background-color: #0097ff91;
    color: white;
    cursor: pointer;
}

input{
    font-size: larger;
    width: 30%;
    margin: 5% auto;
    padding: 5px;
}
input:hover{
    font-size: larger;
    background-color: #0097ff91;
    color: white;
    cursor: pointer;
}
a{
    text-decoration: none;
}

.profilePage a{
    position: absolute;
    color: white;
    font-size: larger;
    right: 10px;
    padding: 2%;
}

@media screen and (max-width: 900px) {
    body {
      font-size: smaller;
    }

    .profilePage{
        
        width: 100%;
    
    }
    .profilePage li {
        display: block;
        font-size: large;
        opacity: 0.7;
    }
  }



